.btn {
    background: #E2D4F0;
    border-radius: 12px;
    font-size: 13px;
    padding: 10px 15px;
}

.btn:hover {
    background: #7126B5;
    color: white;
}

@media (max-width: 770px) {
    .fi {
        display: none;
    }
}
