:root {
	--header: #000000;
	--border: #d0d0d0;
	--primary: #7126b5;
	--secondary: #ffffff;
	--lighter: #bf83f8;
	--veryLight: #f5f4f4;
	--thin: rgb(228, 222, 222);
}

.category_container {
	border: 1px solid var(--veryLight);
	margin-top: 20px;
	padding: 24px;
	border-radius: 16px;
	box-shadow: -1px 2px 5px 6px rgba(235, 235, 235, 0.75);
	-webkit-box-shadow: -1px 2px 5px 6px rgba(235, 235, 235, 0.75);
	-moz-box-shadow: -1px 2px 5px 6px rgba(235, 235, 235, 0.75);
}

.category_subHeader {
	margin-bottom: 20px;
}

.category_text1 {
	margin: 3px 0px 0px 15px;
	color: var(--primary);
}

.category_text2 {
	margin: 3px 0px 0px 15px;
}

.icon_right {
	margin-left: 70px;
}

.icon_right_2 {
	margin-left: 90px;
}

.icon_right_3 {
	margin-left: 100px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.icon_right {
		margin-left: 50px;
	}

	.icon_right_2 {
		margin-left: 45px;
	}

	.icon_right_3 {
		margin-left: 58px;
	}
}

@media screen and (min-width: 1400px) {
	.icon_right {
		margin-left: 70px;
	}

	.icon_right_2 {
		margin-left: 113px;
	}

	.icon_right_3 {
		margin-left: 125px;
	}
}